.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.js
**/*.map
**/*.ts
webpack/**
node_modules/**
.env
.env.*
out/**
*.tsbuildinfo
.obfuscatorrc.json
.obfuscatorrc-webview.json
